*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

/* the navbar */

.header-nav {
  background-color: #6BA0DE;
  padding: 20px;
  width: 100%;
  height: 15vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-item {
  display: flex; 
  align-items: center; 
  margin-right: 10px;
  padding: 15px;
}

.nav-link {
  text-decoration: none;
  color: #fff;

}


/* button */

.container-actions {
  display: flex; 
  justify-content: flex-end; 
  gap: 20px; 
}

.button-usd,
.button-cart,
.button-register {
  list-style: none;
  margin: 8px;

}

.button-usd a,
.button-cart a{
  text-decoration: none;
  color: #fff;
}


.btn-login{
  
  max-width: 150px; 
  background: #4E9FFF;
  padding: 12px;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
}


.cart-shop{
  margin-right: 8px;
  color: #fff;

}

.user-icon{
  margin-left: 8px;
  color: #fff;
}

/* icons */
.arrow-icon{
  color: #fff;
  margin-left: 8px;
}



/* responsive  */


@media only screen and (max-width: 768px) {


  .container-actions {
    flex-wrap: wrap; 
    justify-content: center; 
  }

  .button-usd,
  .button-cart,
  .button-register {
    margin: 10px 5px; 
  }

   .btn-login {
    font-size: 14px;
}


@media only screen and (min-width: 769px) {
  .nav-list {
    flex-direction: row;
  }

}